:root {
    --mainBackground: white;
    --accentDark: #677d6f;
    --accentBright: #9db9a8;
}


body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

hr {
    width:90%;
    color:var(--accentDark);
}
header {
    margin: 20px;
    padding: 20px;
    text-align: center;
}

.content {
    padding:20px;
}

section {
    padding: 50px 20px;
    margin: 20px;
}

h1, h2, h3 {
    color: var(--accentDark);
    text-align: center;
}

a {
    color: var(--accentBright);
    text-decoration: none;
}

.svgIcon{
    color: var(--accentBright);
    padding: 16px;

}
.svgIcon:hover {
    color: var(--accentDark);
}

a:visited {
    color: var(--accentBright);
}


footer {
    text-align: center;
    background-color: var(--mainBackground);
    color: var(--accentDark);
    padding: 10px;
    bottom: 0;
    width: 100%;
}

.top-nav {
    background-color: var(--mainBackground);
    text-align: center;
    position: fixed;
    width: 100%;
}

.top-nav a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.top-nav a:hover {
    color: var(--accentDark);
    text-decoration: underline var(--accentBright);
}

.top-nav a.active {
    color: var(--accentDark);
    text-decoration: underline var(--accentBright);
}

.top-nav .icon {
    display: none;
}

.fa_custom{
    color: var(--accentBright);
}

@media screen and (max-width: 600px) {
    .top-nav a:not(:first-child) {display: none;}
    .top-nav a.icon {
        float: right;
        display: block;
        padding-right: 10px;
    }
}

@media screen and (max-width: 600px) {
    .top-nav.responsive {position: relative;}
    .top-nav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .top-nav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}